$navigation-trigger-color: $primary-color;
$navigation-trigger-color-hover: #000;
$navigation-parent-color: $primary-color;
$navigation-background: darken(#fff, 5%);
$navigation-speed: .8s;

.navigation-container {

	.trigger {
		position: fixed;
		right: 0;
		top: rem-calc(18);
		padding: 0;
		width: rem-calc(90);
		height: rem-calc(90);
		background-color: transparent;
		outline: none;
		display: block;
		z-index: 1000;
		@include breakpoint(medium-up) {
			top: 0;
			height: rem-calc(90);
		}

		-webkit-perspective: 900000px;
		perspective: 900000px;
		span.lines {
			text-indent: -9999px;
			position: absolute;
			display: block;
			height: rem-calc(4);
			background-color: $navigation-trigger-color;
			width: 30%;
			left: 30%;
			top: rem-calc(40);
			@include transition(all .3s ease-in-out);
			@include transition-property(transform top);
			transform-origin: 0 0;
			&:before {
				content: ' ';
				position: absolute;
				display: block;
				height: rem-calc(4);
				background-color: $navigation-trigger-color;
				width: 100%;
				left: 0;
				top: rem-calc(-8);
				@include transition(all .3s ease-in-out);
				@include transition-property(transform top);
			}
			&:after {
				content: ' ';
				position: absolute;
				display: block;
				height: rem-calc(4);
				background-color: $navigation-trigger-color;
				width: 100%;
				left: 0;
				top: rem-calc(8);
				@include transition(all .3s ease-in-out);
				@include transition-property(transform top);
			}
		}
		span.label {
			position: absolute;
			right: rem-calc(75);
			top: rem-calc(30);
			background-color: transparent;
			color: $navigation-trigger-color;
			font-size: rem-calc(18);
			@include transition(all .3s ease-in-out);
		}

		&:hover, &:focus {
			span.lines {
				background-color: $navigation-trigger-color-hover;
				&:before {
					background-color: $navigation-trigger-color-hover;
				}
				&:after {
					background-color: $navigation-trigger-color-hover;
				}
			}

			span.label {
				color: $navigation-trigger-color-hover;
			}
		}
	}

	.navigation-wrapper {
		position: fixed;
		top: 0;
		right: - rem-calc(350);
		z-index: 900;
		width: 300px;
		bottom: 0;
		@include transform( translateZ(0) );
		@include transition( right $navigation-speed ease-in-out );
		pointer-events: none;
		background-color: $navigation-background;
		.navigation-inner {
			position: absolute;
			top: rem-calc(100);
			bottom: 0;
			left: rem-calc(50);
			overflow-x: hidden;
			overflow-y: auto;
			width: 100%;
			ul {
				margin:0;
				pointer-events: auto;
				list-style: none;
				li {
					a {
						display: block;
						@include font(16, 24);
						font-weight: 100;
						font-weight: normal;
						color: #000;
						text-decoration: none;
						@include breakpoint(medium-up) {
							@include font(20, 30);
							font-weight: 300;
						}
						&:hover, &:focus {
							font-weight: 400;
						}
					}
					ul {
						margin:0
					}
					&.has-dropdown {
						margin-top: rem-calc(20);
						> a {
							color: $navigation-parent-color;
						}
					}
				}
			}
			a.daddy {
				display: block;
				margin-top: rem-calc(40);
				text-decoration: none;
				span {
					color: #000;
					display: block;
					@include transition(all .5s ease);
					font-weight: 200;
					&.first {
						font-weight: 600;
						color: $primary-color;
					}
					&.last {
						margin-left: .5625rem;
					}
				}
				&:hover {
					span.first {
						color: #000;
					}
				}
				pointer-events: auto;
			}
		}
	}

	&.is-open {
		.trigger {
			span.lines {
				background-color: transparent;
				&:before {
					@include transform(rotate3d(0,0,1,45deg) translateZ(0));
					top: 0;
				}
				&:after {
					@include transform(rotate3d(0,0,1,-45deg) translateZ(0));
					top: 0;
				}
			}
		}
		.navigation-wrapper {
			right: 0;
		}
	}

}